<div class="pull-right">
  <%= link_to("Add a job", new_job_path ) %>
</div>
<table class="table table-boldered">
  <% @jobs.each do |xyz| %>
  <tr>
    <td>
      <%= link_to(xyz.title, job_path(xyz)) %>
    </td>
    <td>
      <%= link_to("Edit", edit_job_path(xyz)) %>
      <%= link_to("删除", job_path(xyz), method: :delete, data: {confirm: "Sure???"}) %>
    </td>
    <td>
      <%= xyz.description %>
    </td>
    <td>
      <%= xyz.created_at.to_s %> |
      <%= time_ago_in_words(xyz.created_at) %> ago
    </td>
  </tr>
  <% end %>
</table>
